$monitore-brown: #a05f53;
$monitore-green: #5e9549;
$monitore-green-progress-bar: #367a1b;
$monitore-light-green: #c1d6b8;
$monitore-soft-black: #353535;
$monitore-gray: #b6b6b6;
$monitore-line: #b6b6b6;
$monitore-black-title: #353535;
$monitore-white: #fff;
$textInput-defaultBorder-color: #efefef;
$textInput-focus-color: #a05f53;
$textInput-placeholder-color: #959595;
$textInput-placeholder-hover-color: #b6b6b6;
$textInput-diseblade-color: #cecece;
$textInput-errorMessage-color: #f00c0c;
$monitore-brown-hover: #883728;
$monitore-brown-press: #934739;
$monitore-light-brown-press: #af796f;
$monitore-white-hover: #f3ebea;
$monitore-item-column-title: #818181;
